@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import "tailwindcss";

@plugin "tailwindcss-animate";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: "Roboto";
  background-image: url("/imgs_bg/gb_image.webp");
}

.btn-primary {
  @apply bg-blue-600 hover:bg-blue-800 text-white py-2 px-4 rounded transition-all;
}
.btn-succes {
  @apply bg-green-500 hover:bg-green-700 text-white py-2 px-4 rounded transition-all;
}
.btn-disable {
  @apply bg-gray-600 text-white py-2 px-4 rounded-lg transition-all;
}

.btn-secondary {
  @apply bg-gray-200 hover:bg-gray-300 text-black py-2 px-4 rounded transition-all;
}

.bg-nav {
  background-image: url("/Gemini_Generated_Image_9ewr9n9ewr9n9ewr.png");
  background-size: cover;
  background-position: center;
}
